.App {
  min-height: 100vh;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
  font-family:Poppins;
  }

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border:none;
  padding:10px;
  border-radius: 10px;
}
.search-button{
  padding:5px 15px;
  /* width:100px; */
  font-size: 20px;
  border-radius: 10px;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
